<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
  <meta charset="UTF-8">
    <title>Assignments</title>
    <link href="static/css/style.css" rel="stylesheet">
</head>

<body>
<div class="container">
	<div class="row">
        <div class="col-12">
            <h1>Assignment Submitted Successful!!!</h1>
            <a href="/indexpage" class="text-light" style="margin-left:30%; font-size:3rem;">Submitted Another Assignment ?</a>
        </div>
	</div>
</div>
</body>
</html>